/*========================================================
  0.  WOOCOMMERCE - CART
========================================================== */


/** == CART NOTIFICATIONS == */
/** ================================================== */

.woocommerce-notices-wrapper {
    .woocommerce-message, .woocommerce-error {
        display: flex;
        @extend .flash-notification;

        a {
            order: 1;
            margin: 0 0 0 auto;
            border: 0 !important;
            background: #7dc146 !important;
            border-radius: 2px !important;
            font-size: 13px !important;
            font-weight: 600;
            text-transform: uppercase !important;
            color: #FFF !important;
            padding: 1px 9px !important;
            height: auto !important;
            line-height: 1.7 !important;
            white-space: nowrap;
            max-height: 25px;
            &:before { display: none; visibility: hidden; }
            
        }
    }
}



/** == CART FORM == */
/** ================================================== */

    .woocommerce {
        form.woocommerce-cart-form {
            table.shop_table {
                border: 0 !important;
                border-bottom: 1px solid #ededed;

                thead {
                    tr {
                        th {
                            text-transform: uppercase;
                            font-size: 16px;
                            font-weight: 400;
                            color: #636363;
                            padding: .5em 1em .5em 0;

                            &.product-thumbnail { display: none; }
                        }
                    }
                }
                tbody {
                    tr {
                        transition: all linear 300ms;
    
                        td {
                            font-size: 16px;
                            padding: 16px 16px 16px 0;
                            transition: all linear 300ms;
    
                            &:first-child {
                                font-size: 18px;
                                font-weight: 600;
                            }

                            &.product-thumbnail { display: none; }
                            &.product-name {
                                dl.variation { display: none; }
                            }
                            &.actions {
                                padding-right: 0;
                                .coupon { display: none; }
                            }
                        }
                    }
                }
            }
        }
    }


/** == CART TOTALS == */
/** ================================================== */

    .woocommerce {
        .cart_totals {
            h2 {
                font-size: 24px;
                font-weight: 500;
            }
            table.shop_table {
                tbody {
                    tr {
                        th {
                            text-transform: uppercase;
                            font-size: 16px;
                            font-weight: 400;
                            color: #636363;
                        }
                    }
                }
            }
            .wc-proceed-to-checkout {
                .checkout-button {
                    max-height: 65px;
                }
            }
        }
    }