/*========================================================
  0.  WOOCOMMERCE 
========================================================== */


/** == PACKAGE LISTING == */
/** ================================================== */

    #job_package_selection {
        display: flex;
        flex-direction: column;

        // Job Packages Action
        .job_listing_packages_title {
            // width: 780px;
            margin-bottom: 45px;
            margin-top: 30px;
            padding: 0;
            background: transparent;
            display: flex;
            align-items: center;

            @include breakpoint($touch) { flex-wrap: wrap; width: 100%; }

            h2 {
                font-family: $primary-font-stack;
                font-size: 16px;
                font-weight: 400;
                letter-spacing: 0;
                margin-left: 30px;
                color: #95989a;
                @include breakpoint($touch) { margin: 20px 0 0 0; width: 100%; }
            }
            input[type="submit"] {}
        }

        // Job Packages List
        .job_listing_packages {
            order: -1;
            border: 0;

            ul.job_packages,
            ul.resume_packages
            {
                // max-width: 780px;
                border: 0;

                li.package-section {
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: 400;
                    color: #636363;
                    padding-left: 0;
                }

                li.user-job-package,
                li.job-package,
                li.resume-package
                {
                    position: relative;
                    background: #FFF !important;
                    border: 1px solid #D9D9D9;
                    border-radius: 5px;
                    margin-bottom: 25px;
                    padding: 35px 45px 35px 35px;
                    display: flex;
                    align-items: flex-start;

                    @include breakpoint($mobile) { padding: 35px 35px 35px 25px; }

                    
                    &.active {
                        border: 1px solid #49C3F0;
                        box-shadow: 0 0 0 1px #49C3F0;

                        .entry-button {
                            border-color: #49C3F0;
                            &:after {
                                content: '';
                                position: absolute;
                                top: 5px; left: 5px;
                                width: 15px; height: 15px;
                                background: #49C3F0;
                                border-radius: 100%;
                                @include breakpoint($mobile) { width: 13px; height: 13px; }
                            }
                        }

                        &:before {
                            content: '';
                            position: absolute;
                            top: 0%;
                            right: 0%;
                            width: 0;
                            height: 0;
                            border-top: 60px solid #49C3F0; 
                            border-left: 60px solid transparent;
                        }
                        &:after {
                            content: url('data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCA0MDYuODM0IDQwNi44MzQiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQwNi44MzQgNDA2LjgzNDsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSIxNnB4IiBoZWlnaHQ9IjE2cHgiPgo8cG9seWdvbiBwb2ludHM9IjM4NS42MjEsNjIuNTA3IDE0Ni4yMjUsMzAxLjkwMSAyMS4yMTMsMTc2Ljg5MSAwLDE5OC4xMDQgMTQ2LjIyNSwzNDQuMzI3IDQwNi44MzQsODMuNzIgIiBmaWxsPSIjRkZGRkZGIi8+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=');
                            position: absolute;
                            top: 4px;
                            right: 1px;
                            width: 25px;
                            height: 25px;
                        }        
                    }

                    &:hover {
                        cursor: pointer;
                        border: 1px solid #49C3F0;

                        &.active { 
                            box-shadow: 0 0 0 1px #49C3F0
                        }
                    }

                    .entry-button {
                        position: relative;
                        width: 27px; height: 27px;
                        border: 1px solid #D9D9D9;
                        border-radius: 100%;
                        margin: 5px 30px 0 0;
                        @include breakpoint($mobile) { margin-right: 15px; width: 25px; height: 25px; }
                    }
                    .entry-desc {
                        @include breakpoint($mobile) { width: 75%; }

                        input[type="radio"] { display: none; }
                        label {
                            font-size: 18px;
                            font-weight: 600;
                            margin-bottom: 10px !important;
                        }
                        .package-desc {
                            width: 230px;
                            font-size: 17px;
                            color: #95989A;
                            @include breakpoint($mobile) { width: 100%; }
                        }
                    }
                    .entry-footer {
                        margin-left: auto;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;

                        @include breakpoint($mobile) { display: none; }

                        .price {
                            .symbol {
                                font-size: 22px;
                                font-weight: 300;
                                vertical-align: super;
                                margin-right: 5px;
                            }
                            font-size: 48px;
                            font-weight: 600;
                            color: #3ABEEF;
                            letter-spacing: -0.2px;
                            margin-top: -8px;
                            // line-height: 1px;
                            // margin-bottom: 7px;
                        }
                        .caption {
                            font-size: 15px;
                            font-weight: 400;
                            color: #95989A;
                            letter-spacing: 0.5px;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }

    body:not(.page-template-template-dashboard) {
        #job_package_selection {
            .job_listing_packages {
                ul.job_packages, ul.resume_packages {
                    li.user-job-package, li.job-package,
                    li.user-resume-package, li.resume-package
                    {
                        &.active {
                            border-color: #FA6800 !important;
                            box-shadow: 0 0 0 1px #FA6800 !important;
                            &:before { border-top-color: #FA6800 !important; }
        
                            .entry-button {
                                border-color: #FA6800 !important;
                                &:after { background: #FA6800 !important; }
                            }
                        }
                        &:hover {
                            border-color: #FA6800 !important;
                            &.active {
                                box-shadow: 0 0 0 1px #FA6800 !important;
                            }
                        }
                    }
                }
                .price { color: #FA6800 !important; }
            }
        }
    }


/** == ORDER LISTING == */
/** ================================================== */

    .woocommerce {
        .woocommerce-MyAccount-navigation { display: none; }
        .woocommerce-MyAccount-content {
            float: none !important;
            width: 100% !important;

            .woocommerce-message,
            > p 
            {
                @extend .flash-notification;
                display: flex;
                align-items: center;

                .button {
                    order: 1;
                    margin-left: auto;
                    border: 0 !important;
                    background: #7dc146 !important;
                    border-radius: 2px !important;
                    font-size: 13px !important;
                    font-weight: 600;
                    text-transform: uppercase !important;
                    color: #FFF !important;
                    padding: 1px 9px !important;
                    height: auto !important;
                    line-height: 1.7 !important;
                }
    
                mark { background: transparent; margin: 0 3px; color: inherit; }
            }

            table.woocommerce-orders-table {
                border: 0;
                border-bottom: 1px solid #ededed;

                thead {
                    tr {
                        th {
                            text-transform: uppercase;
                            font-size: 16px;
                            font-weight: 400;
                            color: #636363;
                            padding: .5em 1em .5em 0;
                            
                            &.woocommerce-orders-table__header-order-actions {
                                display: none;
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        transition: all linear 300ms;
    
                        td {
                            font-size: 16px;
                            padding: 20px 16px 20px 0;
                            transition: all linear 300ms;
    
                            &:first-child {
                                a {
                                    border: 0 !important;
                                    background: #000;
                                    border-radius: 2px;
                                    font-size: 13px;
                                    text-transform: uppercase;
                                    color: #FFF;
                                    padding: 1px 7px;    
                                }
                            }

                            &.woocommerce-orders-table__cell-order-actions {
                                display: none;

                                .button {
                                    border: 0 !important;
                                    background: #eaeaea !important;
                                    border-radius: 2px !important;
                                    font-size: 9px !important;
                                    text-transform: uppercase !important;
                                    color: #000 !important;
                                    padding: 0 5px !important;
                                    height: auto !important;
                                    line-height: 1.7 !important;
                                }
                            }
                        }
                    }
                }
            }	

        }
    }


/** == ORDER DETAILS == */
/** ================================================== */

    .woocommerce {
        .woocommerce-order-details {
            .woocommerce-order-details__title {
                font-size: 24px;
                font-weight: 500;
            }
            table.woocommerce-table--order-details {
                border: 0;
                border-bottom: 1px solid #ededed;

                thead {
                    tr {
                        th {
                            text-transform: uppercase;
                            font-size: 16px;
                            font-weight: 400;
                            color: #636363;
                            padding: .5em 1em .5em 0;
                        }
                    }
                }
                tbody {
                    tr {
                        transition: all linear 300ms;

                        td {
                            font-size: 16px;
                            padding: 16px 16px 16px 0;
                            transition: all linear 300ms;

                            &:first-child {
                                font-size: 18px;
                                font-weight: 600;
                            }

                            .wc-item-meta { display: none; }

                        }
                    }
                }
                tfoot {
                    tr {
                        th {
                            text-transform: uppercase;
                            font-size: 16px;
                            font-weight: 400;
                            color: #636363;
                            padding: .5em 1em .5em 0;
                        }
                        td {
                            font-weight: 600;
                            font-size: 16px;
                            padding-left: 0;
                        }
                    }
                }
            }
        }
    }



/** == CUSTOMER DETAILS == */
/** ================================================== */

    .woocommerce {
        .woocommerce-customer-details {
            .woocommerce-column__title {
                font-size: 24px;
                font-weight: 500;
            }
            address {
                padding: 25px 35px;
                font-size: 17px;
                line-height: 1.6;
                border-width: 1px;

                .woocommerce-customer-details--phone {
                    border-top: 1px solid rgba(27, 27, 27, 0.1);
                    padding-top: 10px;
                    margin-top: 10px;
                }
            }  
        }
    }
