/*========================================================
  0.  WOOCOMMERCE - MAIN
========================================================== */
/*========================================================
  0.  TYPOGRAPHY 
========================================================== */
/*========================================================
  0.  RESPONSIVE BREAKPOINTS 
========================================================== */
/*========================================================
  0.  GLOBAL 
========================================================== */
.flash-notification, .woocommerce .woocommerce-MyAccount-content .woocommerce-message,
.woocommerce .woocommerce-MyAccount-content > p, .woocommerce-notices-wrapper .woocommerce-message, .woocommerce-checkout .woocommerce-error, .woocommerce-checkout .woocommerce-info,
.woocommerce-checkout .woocommerce-message {
  border: 0 !important;
  border-radius: 5px !important;
  background: #EAF6FB;
  font-size: 16px !important;
  color: #28A8D3;
  padding: 20px 25px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }
  .flash-notification:before, .woocommerce .woocommerce-MyAccount-content .woocommerce-message:before,
  .woocommerce .woocommerce-MyAccount-content > p:before, .woocommerce-notices-wrapper .woocommerce-message:before, .woocommerce-checkout .woocommerce-error:before, .woocommerce-checkout .woocommerce-info:before,
  .woocommerce-checkout .woocommerce-message:before {
    content: '' !important; }
  .flash-notification:after, .woocommerce .woocommerce-MyAccount-content .woocommerce-message:after,
  .woocommerce .woocommerce-MyAccount-content > p:after, .woocommerce-notices-wrapper .woocommerce-message:after, .woocommerce-checkout .woocommerce-error:after, .woocommerce-checkout .woocommerce-info:after,
  .woocommerce-checkout .woocommerce-message:after {
    content: '' !important; }
  @media (min-width: 0) and (max-width: 640px) {
    .flash-notification, .woocommerce .woocommerce-MyAccount-content .woocommerce-message,
    .woocommerce .woocommerce-MyAccount-content > p, .woocommerce-notices-wrapper .woocommerce-message, .woocommerce-checkout .woocommerce-error, .woocommerce-checkout .woocommerce-info,
    .woocommerce-checkout .woocommerce-message {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

/*========================================================
  0.  WOOCOMMERCE 
========================================================== */
/** == PACKAGE LISTING == */
/** ================================================== */
#job_package_selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 900px; }
  #job_package_selection .job_listing_packages_title {
    margin-bottom: 45px;
    margin-top: 30px;
    padding: 0;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (min-width: 0) and (max-width: 1200px) {
      #job_package_selection .job_listing_packages_title {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%; } }
    #job_package_selection .job_listing_packages_title h2 {
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0;
      margin-left: 30px;
      color: #95989a; }
      @media (min-width: 0) and (max-width: 1200px) {
        #job_package_selection .job_listing_packages_title h2 {
          margin: 20px 0 0 0;
          width: 100%; } }
    #job_package_selection .job_listing_packages_title input[type="submit"] {
      width: auto !important; }
  #job_package_selection .job_listing_packages {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    border: 0; }
    #job_package_selection .job_listing_packages ul.job_packages,
    #job_package_selection .job_listing_packages ul.resume_packages {
      border: 0; }
      #job_package_selection .job_listing_packages ul.job_packages li.package-section,
      #job_package_selection .job_listing_packages ul.resume_packages li.package-section {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
        color: #636363;
        padding-left: 0; }
      #job_package_selection .job_listing_packages ul.job_packages li.user-job-package,
      #job_package_selection .job_listing_packages ul.job_packages li.job-package,
      #job_package_selection .job_listing_packages ul.job_packages li.resume-package,
      #job_package_selection .job_listing_packages ul.resume_packages li.user-job-package,
      #job_package_selection .job_listing_packages ul.resume_packages li.job-package,
      #job_package_selection .job_listing_packages ul.resume_packages li.resume-package {
        position: relative;
        background: #FFF !important;
        border: 1px solid #D9D9D9;
        border-radius: 5px;
        margin-bottom: 25px;
        padding: 35px 45px 35px 35px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; }
        @media (min-width: 0) and (max-width: 640px) {
          #job_package_selection .job_listing_packages ul.job_packages li.user-job-package,
          #job_package_selection .job_listing_packages ul.job_packages li.job-package,
          #job_package_selection .job_listing_packages ul.job_packages li.resume-package,
          #job_package_selection .job_listing_packages ul.resume_packages li.user-job-package,
          #job_package_selection .job_listing_packages ul.resume_packages li.job-package,
          #job_package_selection .job_listing_packages ul.resume_packages li.resume-package {
            padding: 35px 35px 35px 25px; } }
        #job_package_selection .job_listing_packages ul.job_packages li.user-job-package.active,
        #job_package_selection .job_listing_packages ul.job_packages li.job-package.active,
        #job_package_selection .job_listing_packages ul.job_packages li.resume-package.active,
        #job_package_selection .job_listing_packages ul.resume_packages li.user-job-package.active,
        #job_package_selection .job_listing_packages ul.resume_packages li.job-package.active,
        #job_package_selection .job_listing_packages ul.resume_packages li.resume-package.active {
          border: 1px solid #FA6800;
          border: 1px solid var(--primary-accent-color);
          -webkit-box-shadow: 0 0 0 1px #FA6800;
          box-shadow: 0 0 0 1px #FA6800;
          -webkit-box-shadow: 0 0 0 1px var(--primary-accent-color);
          box-shadow: 0 0 0 1px var(--primary-accent-color); }
          #job_package_selection .job_listing_packages ul.job_packages li.user-job-package.active .entry-button,
          #job_package_selection .job_listing_packages ul.job_packages li.job-package.active .entry-button,
          #job_package_selection .job_listing_packages ul.job_packages li.resume-package.active .entry-button,
          #job_package_selection .job_listing_packages ul.resume_packages li.user-job-package.active .entry-button,
          #job_package_selection .job_listing_packages ul.resume_packages li.job-package.active .entry-button,
          #job_package_selection .job_listing_packages ul.resume_packages li.resume-package.active .entry-button {
            border-color: #FA6800;
            border-color: var(--primary-accent-color); }
            #job_package_selection .job_listing_packages ul.job_packages li.user-job-package.active .entry-button:after,
            #job_package_selection .job_listing_packages ul.job_packages li.job-package.active .entry-button:after,
            #job_package_selection .job_listing_packages ul.job_packages li.resume-package.active .entry-button:after,
            #job_package_selection .job_listing_packages ul.resume_packages li.user-job-package.active .entry-button:after,
            #job_package_selection .job_listing_packages ul.resume_packages li.job-package.active .entry-button:after,
            #job_package_selection .job_listing_packages ul.resume_packages li.resume-package.active .entry-button:after {
              content: '';
              position: absolute;
              top: 5px;
              left: 5px;
              width: 15px;
              height: 15px;
              background: #FA6800;
              background: var(--primary-accent-color);
              border-radius: 100%; }
              @media (min-width: 0) and (max-width: 640px) {
                #job_package_selection .job_listing_packages ul.job_packages li.user-job-package.active .entry-button:after,
                #job_package_selection .job_listing_packages ul.job_packages li.job-package.active .entry-button:after,
                #job_package_selection .job_listing_packages ul.job_packages li.resume-package.active .entry-button:after,
                #job_package_selection .job_listing_packages ul.resume_packages li.user-job-package.active .entry-button:after,
                #job_package_selection .job_listing_packages ul.resume_packages li.job-package.active .entry-button:after,
                #job_package_selection .job_listing_packages ul.resume_packages li.resume-package.active .entry-button:after {
                  width: 13px;
                  height: 13px; } }
          #job_package_selection .job_listing_packages ul.job_packages li.user-job-package.active:before,
          #job_package_selection .job_listing_packages ul.job_packages li.job-package.active:before,
          #job_package_selection .job_listing_packages ul.job_packages li.resume-package.active:before,
          #job_package_selection .job_listing_packages ul.resume_packages li.user-job-package.active:before,
          #job_package_selection .job_listing_packages ul.resume_packages li.job-package.active:before,
          #job_package_selection .job_listing_packages ul.resume_packages li.resume-package.active:before {
            content: '';
            position: absolute;
            top: 0%;
            right: 0%;
            width: 0;
            height: 0;
            border-top: 60px solid #FA6800;
            border-top: 60px solid var(--primary-accent-color);
            border-left: 60px solid transparent; }
          #job_package_selection .job_listing_packages ul.job_packages li.user-job-package.active:after,
          #job_package_selection .job_listing_packages ul.job_packages li.job-package.active:after,
          #job_package_selection .job_listing_packages ul.job_packages li.resume-package.active:after,
          #job_package_selection .job_listing_packages ul.resume_packages li.user-job-package.active:after,
          #job_package_selection .job_listing_packages ul.resume_packages li.job-package.active:after,
          #job_package_selection .job_listing_packages ul.resume_packages li.resume-package.active:after {
            content: url("data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCA0MDYuODM0IDQwNi44MzQiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQwNi44MzQgNDA2LjgzNDsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSIxNnB4IiBoZWlnaHQ9IjE2cHgiPgo8cG9seWdvbiBwb2ludHM9IjM4NS42MjEsNjIuNTA3IDE0Ni4yMjUsMzAxLjkwMSAyMS4yMTMsMTc2Ljg5MSAwLDE5OC4xMDQgMTQ2LjIyNSwzNDQuMzI3IDQwNi44MzQsODMuNzIgIiBmaWxsPSIjRkZGRkZGIi8+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=");
            position: absolute;
            top: 4px;
            right: 1px;
            width: 25px;
            height: 25px; }
        #job_package_selection .job_listing_packages ul.job_packages li.user-job-package:hover,
        #job_package_selection .job_listing_packages ul.job_packages li.job-package:hover,
        #job_package_selection .job_listing_packages ul.job_packages li.resume-package:hover,
        #job_package_selection .job_listing_packages ul.resume_packages li.user-job-package:hover,
        #job_package_selection .job_listing_packages ul.resume_packages li.job-package:hover,
        #job_package_selection .job_listing_packages ul.resume_packages li.resume-package:hover {
          cursor: pointer;
          border: 1px solid #FA6800;
          border: 1px solid var(--primary-accent-color); }
          #job_package_selection .job_listing_packages ul.job_packages li.user-job-package:hover.active,
          #job_package_selection .job_listing_packages ul.job_packages li.job-package:hover.active,
          #job_package_selection .job_listing_packages ul.job_packages li.resume-package:hover.active,
          #job_package_selection .job_listing_packages ul.resume_packages li.user-job-package:hover.active,
          #job_package_selection .job_listing_packages ul.resume_packages li.job-package:hover.active,
          #job_package_selection .job_listing_packages ul.resume_packages li.resume-package:hover.active {
            -webkit-box-shadow: 0 0 0 1px #FA6800;
            box-shadow: 0 0 0 1px #FA6800;
            -webkit-box-shadow: 0 0 0 1px var(--primary-accent-color);
            box-shadow: 0 0 0 1px var(--primary-accent-color); }
        #job_package_selection .job_listing_packages ul.job_packages li.user-job-package .entry-button,
        #job_package_selection .job_listing_packages ul.job_packages li.job-package .entry-button,
        #job_package_selection .job_listing_packages ul.job_packages li.resume-package .entry-button,
        #job_package_selection .job_listing_packages ul.resume_packages li.user-job-package .entry-button,
        #job_package_selection .job_listing_packages ul.resume_packages li.job-package .entry-button,
        #job_package_selection .job_listing_packages ul.resume_packages li.resume-package .entry-button {
          position: relative;
          width: 27px;
          height: 27px;
          border: 1px solid #D9D9D9;
          border-radius: 100%;
          margin: 5px 30px 0 0; }
          @media (min-width: 0) and (max-width: 640px) {
            #job_package_selection .job_listing_packages ul.job_packages li.user-job-package .entry-button,
            #job_package_selection .job_listing_packages ul.job_packages li.job-package .entry-button,
            #job_package_selection .job_listing_packages ul.job_packages li.resume-package .entry-button,
            #job_package_selection .job_listing_packages ul.resume_packages li.user-job-package .entry-button,
            #job_package_selection .job_listing_packages ul.resume_packages li.job-package .entry-button,
            #job_package_selection .job_listing_packages ul.resume_packages li.resume-package .entry-button {
              margin-right: 15px;
              width: 25px;
              height: 25px; } }
        @media (min-width: 0) and (max-width: 640px) {
          #job_package_selection .job_listing_packages ul.job_packages li.user-job-package .entry-desc,
          #job_package_selection .job_listing_packages ul.job_packages li.job-package .entry-desc,
          #job_package_selection .job_listing_packages ul.job_packages li.resume-package .entry-desc,
          #job_package_selection .job_listing_packages ul.resume_packages li.user-job-package .entry-desc,
          #job_package_selection .job_listing_packages ul.resume_packages li.job-package .entry-desc,
          #job_package_selection .job_listing_packages ul.resume_packages li.resume-package .entry-desc {
            width: 75%; } }
        #job_package_selection .job_listing_packages ul.job_packages li.user-job-package .entry-desc input[type="radio"],
        #job_package_selection .job_listing_packages ul.job_packages li.job-package .entry-desc input[type="radio"],
        #job_package_selection .job_listing_packages ul.job_packages li.resume-package .entry-desc input[type="radio"],
        #job_package_selection .job_listing_packages ul.resume_packages li.user-job-package .entry-desc input[type="radio"],
        #job_package_selection .job_listing_packages ul.resume_packages li.job-package .entry-desc input[type="radio"],
        #job_package_selection .job_listing_packages ul.resume_packages li.resume-package .entry-desc input[type="radio"] {
          display: none; }
        #job_package_selection .job_listing_packages ul.job_packages li.user-job-package .entry-desc label,
        #job_package_selection .job_listing_packages ul.job_packages li.job-package .entry-desc label,
        #job_package_selection .job_listing_packages ul.job_packages li.resume-package .entry-desc label,
        #job_package_selection .job_listing_packages ul.resume_packages li.user-job-package .entry-desc label,
        #job_package_selection .job_listing_packages ul.resume_packages li.job-package .entry-desc label,
        #job_package_selection .job_listing_packages ul.resume_packages li.resume-package .entry-desc label {
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 10px !important; }
        #job_package_selection .job_listing_packages ul.job_packages li.user-job-package .entry-desc .package-desc,
        #job_package_selection .job_listing_packages ul.job_packages li.job-package .entry-desc .package-desc,
        #job_package_selection .job_listing_packages ul.job_packages li.resume-package .entry-desc .package-desc,
        #job_package_selection .job_listing_packages ul.resume_packages li.user-job-package .entry-desc .package-desc,
        #job_package_selection .job_listing_packages ul.resume_packages li.job-package .entry-desc .package-desc,
        #job_package_selection .job_listing_packages ul.resume_packages li.resume-package .entry-desc .package-desc {
          width: 230px;
          font-size: 17px;
          color: #95989A; }
          @media (min-width: 0) and (max-width: 640px) {
            #job_package_selection .job_listing_packages ul.job_packages li.user-job-package .entry-desc .package-desc,
            #job_package_selection .job_listing_packages ul.job_packages li.job-package .entry-desc .package-desc,
            #job_package_selection .job_listing_packages ul.job_packages li.resume-package .entry-desc .package-desc,
            #job_package_selection .job_listing_packages ul.resume_packages li.user-job-package .entry-desc .package-desc,
            #job_package_selection .job_listing_packages ul.resume_packages li.job-package .entry-desc .package-desc,
            #job_package_selection .job_listing_packages ul.resume_packages li.resume-package .entry-desc .package-desc {
              width: 100%; } }
        #job_package_selection .job_listing_packages ul.job_packages li.user-job-package .entry-footer,
        #job_package_selection .job_listing_packages ul.job_packages li.job-package .entry-footer,
        #job_package_selection .job_listing_packages ul.job_packages li.resume-package .entry-footer,
        #job_package_selection .job_listing_packages ul.resume_packages li.user-job-package .entry-footer,
        #job_package_selection .job_listing_packages ul.resume_packages li.job-package .entry-footer,
        #job_package_selection .job_listing_packages ul.resume_packages li.resume-package .entry-footer {
          margin-left: auto;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start; }
          @media (min-width: 0) and (max-width: 640px) {
            #job_package_selection .job_listing_packages ul.job_packages li.user-job-package .entry-footer,
            #job_package_selection .job_listing_packages ul.job_packages li.job-package .entry-footer,
            #job_package_selection .job_listing_packages ul.job_packages li.resume-package .entry-footer,
            #job_package_selection .job_listing_packages ul.resume_packages li.user-job-package .entry-footer,
            #job_package_selection .job_listing_packages ul.resume_packages li.job-package .entry-footer,
            #job_package_selection .job_listing_packages ul.resume_packages li.resume-package .entry-footer {
              display: none; } }
          #job_package_selection .job_listing_packages ul.job_packages li.user-job-package .entry-footer .price,
          #job_package_selection .job_listing_packages ul.job_packages li.job-package .entry-footer .price,
          #job_package_selection .job_listing_packages ul.job_packages li.resume-package .entry-footer .price,
          #job_package_selection .job_listing_packages ul.resume_packages li.user-job-package .entry-footer .price,
          #job_package_selection .job_listing_packages ul.resume_packages li.job-package .entry-footer .price,
          #job_package_selection .job_listing_packages ul.resume_packages li.resume-package .entry-footer .price {
            font-size: 48px;
            font-weight: 600;
            color: #FA6800;
            color: var(--primary-accent-color);
            letter-spacing: -0.2px;
            margin-top: -8px; }
            #job_package_selection .job_listing_packages ul.job_packages li.user-job-package .entry-footer .price .symbol,
            #job_package_selection .job_listing_packages ul.job_packages li.job-package .entry-footer .price .symbol,
            #job_package_selection .job_listing_packages ul.job_packages li.resume-package .entry-footer .price .symbol,
            #job_package_selection .job_listing_packages ul.resume_packages li.user-job-package .entry-footer .price .symbol,
            #job_package_selection .job_listing_packages ul.resume_packages li.job-package .entry-footer .price .symbol,
            #job_package_selection .job_listing_packages ul.resume_packages li.resume-package .entry-footer .price .symbol {
              font-size: 22px;
              font-weight: 300;
              vertical-align: super;
              margin-right: 5px; }
          #job_package_selection .job_listing_packages ul.job_packages li.user-job-package .entry-footer .caption,
          #job_package_selection .job_listing_packages ul.job_packages li.job-package .entry-footer .caption,
          #job_package_selection .job_listing_packages ul.job_packages li.resume-package .entry-footer .caption,
          #job_package_selection .job_listing_packages ul.resume_packages li.user-job-package .entry-footer .caption,
          #job_package_selection .job_listing_packages ul.resume_packages li.job-package .entry-footer .caption,
          #job_package_selection .job_listing_packages ul.resume_packages li.resume-package .entry-footer .caption {
            font-size: 15px;
            font-weight: 400;
            color: #95989A;
            letter-spacing: 0.5px;
            text-transform: uppercase; }

body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.job_packages li.user-job-package.active, body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.job_packages li.job-package.active,
body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.job_packages li.user-resume-package.active, body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.job_packages li.resume-package.active, body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.resume_packages li.user-job-package.active, body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.resume_packages li.job-package.active,
body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.resume_packages li.user-resume-package.active, body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.resume_packages li.resume-package.active {
  border-color: #FA6800 !important;
  border-color: var(--primary-accent-color) !important;
  -webkit-box-shadow: 0 0 0 1px #FA6800 !important;
  box-shadow: 0 0 0 1px #FA6800 !important;
  -webkit-box-shadow: 0 0 0 1px var(--primary-accent-color) !important;
  box-shadow: 0 0 0 1px var(--primary-accent-color) !important; }
  body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.job_packages li.user-job-package.active:before, body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.job_packages li.job-package.active:before,
  body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.job_packages li.user-resume-package.active:before, body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.job_packages li.resume-package.active:before, body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.resume_packages li.user-job-package.active:before, body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.resume_packages li.job-package.active:before,
  body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.resume_packages li.user-resume-package.active:before, body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.resume_packages li.resume-package.active:before {
    border-top-color: #FA6800 !important;
    border-top-color: var(--primary-accent-color) !important; }
  body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.job_packages li.user-job-package.active .entry-button, body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.job_packages li.job-package.active .entry-button,
  body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.job_packages li.user-resume-package.active .entry-button, body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.job_packages li.resume-package.active .entry-button, body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.resume_packages li.user-job-package.active .entry-button, body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.resume_packages li.job-package.active .entry-button,
  body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.resume_packages li.user-resume-package.active .entry-button, body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.resume_packages li.resume-package.active .entry-button {
    border-color: #FA6800 !important;
    border-color: var(--primary-accent-color) !important; }
    body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.job_packages li.user-job-package.active .entry-button:after, body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.job_packages li.job-package.active .entry-button:after,
    body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.job_packages li.user-resume-package.active .entry-button:after, body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.job_packages li.resume-package.active .entry-button:after, body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.resume_packages li.user-job-package.active .entry-button:after, body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.resume_packages li.job-package.active .entry-button:after,
    body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.resume_packages li.user-resume-package.active .entry-button:after, body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.resume_packages li.resume-package.active .entry-button:after {
      background: #FA6800 !important;
      background: var(--primary-accent-color) !important; }

body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.job_packages li.user-job-package:hover, body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.job_packages li.job-package:hover,
body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.job_packages li.user-resume-package:hover, body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.job_packages li.resume-package:hover, body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.resume_packages li.user-job-package:hover, body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.resume_packages li.job-package:hover,
body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.resume_packages li.user-resume-package:hover, body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.resume_packages li.resume-package:hover {
  border-color: #FA6800 !important; }
  body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.job_packages li.user-job-package:hover.active, body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.job_packages li.job-package:hover.active,
  body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.job_packages li.user-resume-package:hover.active, body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.job_packages li.resume-package:hover.active, body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.resume_packages li.user-job-package:hover.active, body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.resume_packages li.job-package:hover.active,
  body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.resume_packages li.user-resume-package:hover.active, body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages ul.resume_packages li.resume-package:hover.active {
    -webkit-box-shadow: 0 0 0 1px #FA6800 !important;
    box-shadow: 0 0 0 1px #FA6800 !important;
    -webkit-box-shadow: 0 0 0 1px var(--primary-accent-color) !important;
    box-shadow: 0 0 0 1px var(--primary-accent-color) !important; }

body:not(.page-template-template-dashboard) #job_package_selection .job_listing_packages .price {
  color: #FA6800 !important;
  color: var(--primary-accent-color) !important; }

/** == ORDER LISTING == */
/** ================================================== */
.woocommerce .woocommerce-MyAccount-navigation {
  display: none; }

.woocommerce .woocommerce-MyAccount-content {
  float: none !important;
  width: 100% !important; }
  .woocommerce .woocommerce-MyAccount-content .woocommerce-message,
  .woocommerce .woocommerce-MyAccount-content > p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .woocommerce .woocommerce-MyAccount-content .woocommerce-message .button,
    .woocommerce .woocommerce-MyAccount-content > p .button {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      margin-left: auto;
      border: 0 !important;
      background: #7dc146 !important;
      border-radius: 2px !important;
      font-size: 13px !important;
      font-weight: 600;
      text-transform: uppercase !important;
      color: #FFF !important;
      padding: 1px 9px !important;
      height: auto !important;
      line-height: 1.7 !important; }
    .woocommerce .woocommerce-MyAccount-content .woocommerce-message mark,
    .woocommerce .woocommerce-MyAccount-content > p mark {
      background: transparent;
      margin: 0 3px;
      color: inherit; }
  .woocommerce .woocommerce-MyAccount-content table.woocommerce-orders-table {
    border: 0;
    border-bottom: 1px solid #ededed; }
    .woocommerce .woocommerce-MyAccount-content table.woocommerce-orders-table thead tr th {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 400;
      color: #636363;
      padding: .5em 1em .5em 0; }
      .woocommerce .woocommerce-MyAccount-content table.woocommerce-orders-table thead tr th.woocommerce-orders-table__header-order-actions {
        display: none; }
    .woocommerce .woocommerce-MyAccount-content table.woocommerce-orders-table tbody tr {
      -webkit-transition: all linear 300ms;
      -o-transition: all linear 300ms;
      transition: all linear 300ms; }
      .woocommerce .woocommerce-MyAccount-content table.woocommerce-orders-table tbody tr td {
        font-size: 16px;
        padding: 20px 16px 20px 0;
        -webkit-transition: all linear 300ms;
        -o-transition: all linear 300ms;
        transition: all linear 300ms; }
        .woocommerce .woocommerce-MyAccount-content table.woocommerce-orders-table tbody tr td:first-child a {
          border: 0 !important;
          background: #000;
          border-radius: 2px;
          font-size: 13px;
          text-transform: uppercase;
          color: #FFF;
          padding: 1px 7px; }
        .woocommerce .woocommerce-MyAccount-content table.woocommerce-orders-table tbody tr td.woocommerce-orders-table__cell-order-actions {
          display: none; }
          .woocommerce .woocommerce-MyAccount-content table.woocommerce-orders-table tbody tr td.woocommerce-orders-table__cell-order-actions .button {
            border: 0 !important;
            background: #eaeaea !important;
            border-radius: 2px !important;
            font-size: 9px !important;
            text-transform: uppercase !important;
            color: #000 !important;
            padding: 0 5px !important;
            height: auto !important;
            line-height: 1.7 !important; }

/** == ORDER DETAILS == */
/** ================================================== */
.woocommerce .woocommerce-order-details .woocommerce-order-details__title {
  font-size: 24px;
  font-weight: 500; }

.woocommerce .woocommerce-order-details table.woocommerce-table--order-details {
  border: 0;
  border-bottom: 1px solid #ededed; }
  .woocommerce .woocommerce-order-details table.woocommerce-table--order-details thead tr th {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    color: #636363;
    padding: .5em 1em .5em 0; }
  .woocommerce .woocommerce-order-details table.woocommerce-table--order-details tbody tr {
    -webkit-transition: all linear 300ms;
    -o-transition: all linear 300ms;
    transition: all linear 300ms; }
    .woocommerce .woocommerce-order-details table.woocommerce-table--order-details tbody tr td {
      font-size: 16px;
      padding: 16px 16px 16px 0;
      -webkit-transition: all linear 300ms;
      -o-transition: all linear 300ms;
      transition: all linear 300ms; }
      .woocommerce .woocommerce-order-details table.woocommerce-table--order-details tbody tr td:first-child {
        font-size: 18px;
        font-weight: 600; }
      .woocommerce .woocommerce-order-details table.woocommerce-table--order-details tbody tr td .wc-item-meta {
        display: none; }
  .woocommerce .woocommerce-order-details table.woocommerce-table--order-details tfoot tr th {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    color: #636363;
    padding: .5em 1em .5em 0; }
  .woocommerce .woocommerce-order-details table.woocommerce-table--order-details tfoot tr td {
    font-weight: 600;
    font-size: 16px;
    padding-left: 0; }

/** == CUSTOMER DETAILS == */
/** ================================================== */
.woocommerce .woocommerce-customer-details .woocommerce-column__title {
  font-size: 24px;
  font-weight: 500; }

.woocommerce .woocommerce-customer-details address {
  padding: 25px 35px;
  font-size: 17px;
  line-height: 1.6;
  border-width: 1px; }
  .woocommerce .woocommerce-customer-details address .woocommerce-customer-details--phone {
    border-top: 1px solid rgba(27, 27, 27, 0.1);
    padding-top: 10px;
    margin-top: 10px; }

/*========================================================
  0.  WOOCOMMERCE - CART
========================================================== */
/** == CART NOTIFICATIONS == */
/** ================================================== */
.woocommerce-notices-wrapper .woocommerce-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .woocommerce-notices-wrapper .woocommerce-message a {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin: 0 0 0 auto;
    border: 0 !important;
    background: #7dc146 !important;
    border-radius: 2px !important;
    font-size: 13px !important;
    font-weight: 600;
    text-transform: uppercase !important;
    color: #FFF !important;
    padding: 1px 9px !important;
    height: auto !important;
    line-height: 1.7 !important;
    white-space: nowrap;
    max-height: 25px; }
    .woocommerce-notices-wrapper .woocommerce-message a:before {
      display: none;
      visibility: hidden; }

/** == CART FORM == */
/** ================================================== */
.woocommerce form.woocommerce-cart-form table.shop_table {
  border: 0 !important;
  border-bottom: 1px solid #ededed; }
  .woocommerce form.woocommerce-cart-form table.shop_table thead tr th {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    color: #636363;
    padding: .5em 1em .5em 0; }
    .woocommerce form.woocommerce-cart-form table.shop_table thead tr th.product-thumbnail {
      display: none; }
  .woocommerce form.woocommerce-cart-form table.shop_table tbody tr {
    -webkit-transition: all linear 300ms;
    -o-transition: all linear 300ms;
    transition: all linear 300ms; }
    .woocommerce form.woocommerce-cart-form table.shop_table tbody tr td {
      font-size: 16px;
      padding: 16px 16px 16px 0;
      -webkit-transition: all linear 300ms;
      -o-transition: all linear 300ms;
      transition: all linear 300ms; }
      .woocommerce form.woocommerce-cart-form table.shop_table tbody tr td:first-child {
        font-size: 18px;
        font-weight: 600; }
      .woocommerce form.woocommerce-cart-form table.shop_table tbody tr td.product-thumbnail {
        display: none; }
      .woocommerce form.woocommerce-cart-form table.shop_table tbody tr td.product-name dl.variation {
        display: none; }
      .woocommerce form.woocommerce-cart-form table.shop_table tbody tr td.actions {
        padding-right: 0; }
        .woocommerce form.woocommerce-cart-form table.shop_table tbody tr td.actions .coupon {
          display: none; }

/** == CART TOTALS == */
/** ================================================== */
.woocommerce .cart_totals h2 {
  font-size: 24px;
  font-weight: 500; }

.woocommerce .cart_totals table.shop_table tbody tr th {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  color: #636363; }

.woocommerce .cart_totals .wc-proceed-to-checkout .checkout-button {
  max-height: 65px; }

/*========================================================
  0.  WOOCOMMERCE - CHECKOUT
========================================================== */
/** == PACKAGE LISTING == */
/** ================================================== */
.woocommerce-checkout {
  /** Form Styling */ }
  .woocommerce-checkout .personal-info-fields, .woocommerce-checkout .payment-info-fields {
    position: relative; }
    .woocommerce-checkout .personal-info-fields .title, .woocommerce-checkout .payment-info-fields .title {
      position: relative;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 16px;
      color: #a7a7a7;
      letter-spacing: 1px;
      text-transform: uppercase;
      overflow-x: hidden;
      margin-bottom: 10px; }
      .woocommerce-checkout .personal-info-fields .title:after, .woocommerce-checkout .payment-info-fields .title:after {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        content: '';
        height: 1px;
        width: 100%;
        background: #DFDFDF;
        margin-left: 10px; }
    .woocommerce-checkout .personal-info-fields .form-fields, .woocommerce-checkout .payment-info-fields .form-fields {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 0; }
      .woocommerce-checkout .personal-info-fields .form-fields .form-row, .woocommerce-checkout .payment-info-fields .form-fields .form-row {
        margin-bottom: 10px; }
        .woocommerce-checkout .personal-info-fields .form-fields .form-row label, .woocommerce-checkout .payment-info-fields .form-fields .form-row label {
          width: 100%;
          line-height: 1; }
          .woocommerce-checkout .personal-info-fields .form-fields .form-row label small, .woocommerce-checkout .payment-info-fields .form-fields .form-row label small {
            opacity: 0.35;
            font-size: 0.63em; }
  .woocommerce-checkout .payment-info-fields .title {
    margin-bottom: 30px; }
  .woocommerce-checkout #customer_details .col-2 {
    display: none; }
  .woocommerce-checkout #customer_details .col-1 {
    float: none;
    width: 100%; }
    .woocommerce-checkout #customer_details .col-1 h3 {
      display: none; }
  .woocommerce-checkout #order_review_heading {
    display: none; }
  .woocommerce-checkout #order_review .order-summary {
    margin: 60px 0 25px 0 !important;
    padding: 30px 45px;
    background: #F6F6F6;
    border: 1px solid #E6E6E6;
    border-radius: 5px; }
    .woocommerce-checkout #order_review .order-summary .title {
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
      color: #9A94E8;
      margin-top: 5px; }
    .woocommerce-checkout #order_review .order-summary table.woocommerce-checkout-review-order-table {
      margin: 0;
      border: 0 !important;
      border-bottom: 1px solid #ededed; }
      .woocommerce-checkout #order_review .order-summary table.woocommerce-checkout-review-order-table thead tr th {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
        color: #636363;
        padding: .5em 1em .5em 0; }
      .woocommerce-checkout #order_review .order-summary table.woocommerce-checkout-review-order-table tbody tr {
        -webkit-transition: all linear 300ms;
        -o-transition: all linear 300ms;
        transition: all linear 300ms; }
        .woocommerce-checkout #order_review .order-summary table.woocommerce-checkout-review-order-table tbody tr td {
          font-size: 16px;
          padding: 16px 16px 16px 0;
          -webkit-transition: all linear 300ms;
          -o-transition: all linear 300ms;
          transition: all linear 300ms; }
          .woocommerce-checkout #order_review .order-summary table.woocommerce-checkout-review-order-table tbody tr td:first-child {
            font-size: 18px;
            font-weight: 600; }
          .woocommerce-checkout #order_review .order-summary table.woocommerce-checkout-review-order-table tbody tr td .product-quantity {
            font-weight: 400; }
          .woocommerce-checkout #order_review .order-summary table.woocommerce-checkout-review-order-table tbody tr td .variation {
            display: none; }
      .woocommerce-checkout #order_review .order-summary table.woocommerce-checkout-review-order-table tfoot tr th {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
        color: #636363;
        padding: .5em 1em .5em 0; }
      .woocommerce-checkout #order_review .order-summary table.woocommerce-checkout-review-order-table tfoot tr td {
        font-weight: 600;
        font-size: 16px;
        padding-left: 0; }
        .woocommerce-checkout #order_review .order-summary table.woocommerce-checkout-review-order-table tfoot tr td .woocommerce-remove-coupon {
          display: inline;
          font-size: 12px;
          font-style: normal;
          background: #000;
          color: #FFF;
          text-transform: uppercase;
          letter-spacing: .4px;
          border-radius: 3px;
          padding: 0 3px;
          margin-left: 5px; }
      .woocommerce-checkout #order_review .order-summary table.woocommerce-checkout-review-order-table tfoot tr.cart-subtotal {
        display: none; }
      .woocommerce-checkout #order_review .order-summary table.woocommerce-checkout-review-order-table tfoot tr.order-total .amount {
        font-weight: 600;
        font-size: 18px; }
  .woocommerce-checkout #order_review .woocommerce-checkout-payment {
    width: 100%;
    background: transparent;
    border-radius: 0; }
    .woocommerce-checkout #order_review .woocommerce-checkout-payment ul.wc_payment_methods {
      padding: 0;
      border: 0 !important;
      margin-top: -10px; }
      .woocommerce-checkout #order_review .woocommerce-checkout-payment ul.wc_payment_methods li.wc_payment_method {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .woocommerce-checkout #order_review .woocommerce-checkout-payment ul.wc_payment_methods li.wc_payment_method:last-child label {
          border-bottom: 0 !important;
          padding-bottom: 0 !important; }
        .woocommerce-checkout #order_review .woocommerce-checkout-payment ul.wc_payment_methods li.wc_payment_method input[type="radio"] {
          display: none; }
        .woocommerce-checkout #order_review .woocommerce-checkout-payment ul.wc_payment_methods li.wc_payment_method label {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-flex: 100%;
          -ms-flex: 100%;
          flex: 100%;
          padding: 17px 0 17px 0;
          border-bottom: 1px solid #d9d9d9;
          cursor: pointer;
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0);
          font-size: 17px;
          text-transform: capitalize; }
          .woocommerce-checkout #order_review .woocommerce-checkout-payment ul.wc_payment_methods li.wc_payment_method label span {
            background: #FFF;
            width: 20px;
            height: 20px;
            border: 1px solid #d9d9d9;
            border-radius: 2px;
            display: inline-block;
            margin: 0 20px 0 0; }
        .woocommerce-checkout #order_review .woocommerce-checkout-payment ul.wc_payment_methods li.wc_payment_method input[type=radio]:checked + label span {
          position: relative; }
          .woocommerce-checkout #order_review .woocommerce-checkout-payment ul.wc_payment_methods li.wc_payment_method input[type=radio]:checked + label span:after {
            content: '';
            position: absolute;
            left: 3px;
            top: 3px;
            right: 3px;
            bottom: 3px;
            border-radius: 2px;
            background: #7DC146; }
        .woocommerce-checkout #order_review .woocommerce-checkout-payment ul.wc_payment_methods li.wc_payment_method .payment_box {
          -webkit-box-flex: 100%;
          -ms-flex: 100%;
          flex: 100%;
          background: #F6F6F6; }
          .woocommerce-checkout #order_review .woocommerce-checkout-payment ul.wc_payment_methods li.wc_payment_method .payment_box:before {
            display: none; }
        .woocommerce-checkout #order_review .woocommerce-checkout-payment ul.wc_payment_methods li.wc_payment_method.payment_method_paypal .about_paypal {
          display: none; }
        .woocommerce-checkout #order_review .woocommerce-checkout-payment ul.wc_payment_methods li.wc_payment_method.payment_method_paypal label img {
          margin-left: auto; }
    .woocommerce-checkout #order_review .woocommerce-checkout-payment .place-order {
      display: none; }
  .woocommerce-checkout #order_review .place-order {
    margin-top: 30px; }
  .woocommerce-checkout .woocommerce-form-coupon-toggle {
    display: none; }
  .woocommerce-checkout .woocommerce-form-coupon {
    position: relative;
    display: block !important;
    margin: 0 0 80px 0 !important;
    padding: 0 !important;
    border: 0 !important; }
    .woocommerce-checkout .woocommerce-form-coupon p:not(.form-row) {
      display: none; }
    .woocommerce-checkout .woocommerce-form-coupon .form-row-first {
      width: 100%; }
    .woocommerce-checkout .woocommerce-form-coupon input#coupon_code {
      height: 60px;
      padding: 1rem 2rem 1rem 2rem !important; }
    .woocommerce-checkout .woocommerce-form-coupon button[type="submit"] {
      position: absolute !important;
      background: transparent !important;
      color: #000 !important;
      border: 0 !important;
      font-size: 14px !important;
      font-weight: 600 !important;
      letter-spacing: 0 !important;
      padding: 0 !important;
      height: auto !important;
      line-height: 1 !important;
      top: 26px !important;
      right: 35px !important; }
      .woocommerce-checkout .woocommerce-form-coupon button[type="submit"]:hover {
        background-color: transparent !important; }
  .woocommerce-checkout .woocommerce-error {
    background: #FBEAEA;
    color: #D32828;
    margin-bottom: 60px; }
    .woocommerce-checkout .woocommerce-error li {
      margin-bottom: 0; }
      .woocommerce-checkout .woocommerce-error li strong {
        color: inherit;
        font-weight: 600; }
  .woocommerce-checkout .woocommerce-info,
  .woocommerce-checkout .woocommerce-message {
    margin-bottom: 60px; }
    .woocommerce-checkout .woocommerce-info .button,
    .woocommerce-checkout .woocommerce-message .button {
      border: 0 !important;
      background: #7dc146 !important;
      border-radius: 2px !important;
      font-size: 13px !important;
      font-weight: 600;
      text-transform: uppercase !important;
      color: #FFF !important;
      padding: 1px 9px !important;
      height: auto !important;
      line-height: 1.7 !important; }
